@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 200% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 

body {
    animation: gradient 15s ease infinite;
	justify-content: center;
	align-items: center;
	padding-right: 0;
	margin: 0;
	animation: gradient 8s ease infinite;
    background: radial-gradient(circle at 3% 25%, rgb(29, 68, 90) 0%, rgba(4, 12, 24, 1) 100%);
    background-size: 400% 400%;
    height: 100vh;

}

.body-custom {
    animation: gradient 15s ease infinite;
	justify-content: center;
	align-items: center;
	padding-right: 0;
	margin: 0;
	animation: gradient 8s ease infinite;
    background: radial-gradient(circle at 3% 25%, rgb(29, 68, 90) 0%, rgba(4, 12, 24, 1) 100%);
    background-size: 400% 400%;
    height: 100vh;

}

 @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

input {
	width: 60%;
	height: 20px;
	background: #fff;
	display: flex;
	padding: 1rem;
	margin: 20px auto;
	border-radius: 5px;
	border: none;
	justify-content: center;
	outline: none;
}

#button-custom {
	height: 40px;
	justify-content: center;
	display: block;
	color: #fff;
	font-size: 1rem;
	border: none;
	outline: none;
	font-weight: bold;
	transition: .2s ease-in;
	cursor: pointer;
	background: rgba(24, 150,185,1);
}

#button-custom:hover {
	background: rgb(29, 68, 90) 0%;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
}


